[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "carwatch"]
	path = carwatch
	url = https://github.com/carwatch-tools/carwatch-r
